    
<div class="user-details">
  <h1> My Portfolio Selection </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="wedcontest" src="{{ "rubenbolivar.github.io/assets/img/wedcontest-portfolio.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> DIPROINDUCA-Learning site </h3>
    <ul>
      <li> Web design and development </li>
    </ul>
    <p>Educational website built with WordPress, combines static and dynamic sections, multi-language and responsive site with much emphasis on a minimalist aesthetic. </p>
    <a class="project-link" href="http://wedcontest.diproinduca.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="vec" src="{{ "rubenbolivar.github.io/assets/img/vec-portfolio.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Viva el Cacao - Magazine website </h3>
    <ul>
      <li> Design, development, SEO and webmaster</li>
    </ul>
    <p>Website with many news categories, multi-language, responsive, with a rich multimedia homepage</p>
    <a class="project-link" href="http://vivaelcacao.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="diproinduca" src="{{ "rubenbolivar.github.io/assets/img/diproinduca-portfolio.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> DIPROINDUCA Business site </h3>
    <ul>
      <li> Web design, development and SEO </li>
    </ul>
    <p>Business website multi-language (WPML) built with Wordpress with SPA (Single-Page Application) for easy browsing experience, responsive and ready for touch screens.</p>
    <a class="project-link" href="http://www.diproinduca.com/">Check it out</a>
 
  </div>
</div>
<div class="user-projects">
    <div class="images-left">
      <img alt="motivamamas" src="{{ "rubenbolivar.github.io/assets/img/motiva-portafolio.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Motivamamás - Portfolio website </h3>
      <ul>
        <li> Design, development, SEO and webmaster</li>
      </ul>
      <p>Website with , multi-language, responsive, with a rich multimedia homepage</p>
      <a class="project-link" href="http://motivamamas.com/">Check it out</a>
    </div>
  </div>
  <div class="user-projects">
    <div class="images-right">
      <img alt="cauratv" src="{{ "rubenbolivar.github.io/assets/img/caura-portafolio.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> CAURATV News website </h3>
      <ul>
        <li> Web design, development and SEO </li>
      </ul>
      <p>Magazine'news website built with Wordpress with SPA (Single-Page Application) for easy browsing experience, responsive and ready for touch screens.</p>
      <a class="project-link" href="http://cauratv.com.ve/">Check it out</a>
   
    </div>
  </div>




















<a class="project-link" href="http://www.diproinduca.com/">Check it out</a>
 
  </div>
</div>
<div class="user-projects">
    <div class="images-left">
      <img alt="motivamamas" src="{{ "rubenbolivar.github.io/assets/img/motiva-portafolio.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Motivamamás - Portfolio website </h3>
      <ul>
        <li> Design, development, SEO and webmaster</li>
      </ul>
      <p>Website with , multi-language, responsive, with a rich multimedia homepage</p>
      <a class="project-link" href="http://motivamamas.com/">Check it out</a>
    </div>
  </div>
  <div class="user-projects">
    <div class="images-right">
      <img alt="cauratv" src="{{ "rubenbolivar.github.io/assets/img/caura-portafolio.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> CAURATV News website </h3>
      <ul>
        <li> Web design, development and SEO </li>
      </ul>
      <p>Magazine'news website built with Wordpress with SPA (Single-Page Application) for easy browsing experience, responsive and ready for touch screens.</p>
      <a class="project-link" href="http://cauratv.com.ve/">Check it out</a>
   
    </div>
  </div>





<div class="user-details">
  <h1> My Portfolio Selection </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="wedcontest" src="{{ "rubenbolivar.github.io/assets/img/wedcontest-portfolio.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> DIPROINDUCA-Learning site </h3>
    <ul>
      <li> Web design and development </li>
    </ul>
    <p>Educational website built with WordPress, combines static and dynamic sections, multi-language and responsive site with much emphasis on a minimalist aesthetic. </p>
    <a class="project-link" href="http://wedcontest.diproinduca.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="vec" src="{{ "rubenbolivar.github.io/assets/img/vec-portfolio.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Viva el Cacao - Magazine website </h3>
    <ul>
      <li> Design, development, SEO and webmaster</li>
    </ul>
    <p>Website with many news categories, multi-language, responsive, with a rich multimedia homepage</p>
    <a class="project-link" href="http://vivaelcacao.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="diproinduca" src="{{ "rubenbolivar.github.io/assets/img/diproinduca-portfolio.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> DIPROINDUCA Business site </h3>
    <ul>
      <li> Web design, development and SEO </li>
    </ul>
    <p>Business website multi-language (WPML) built with Wordpress with SPA (Single-Page Application) for easy browsing experience, responsive and ready for touch screens.</p>
    <a class="project-link" href="http://www.diproinduca.com/">Check it out</a>
 
  </div>
</div>
